*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media(max-width:450px){

    header{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(206, 32, 32);;
        position: relative;
        padding-right: 10px;
    }

    nav{
        width: 0;
        height: 0;
        top: 51px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background:  rgb(206, 32, 32);
        position: absolute;
        gap: 10px;
        padding: 15px;
        border-bottom-right-radius: 60px;
        z-index: 100;
        overflow: hidden;
        left: 0;
        transition: all .5s ease;
    }

    .slide{
        width: 100%;
        height: 200px;
        opacity: 1;
        /* right: 100%; */
    }


    nav a{
        text-decoration: none;
        display: flex;
        gap: 15px;
        color: white;
    }

    main{
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(120deg,rgba(0, 0, 0, 0.3),rgb(214, 16, 16));
        padding: 20px;
    }

    .music-details{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        padding: 30px;
    }

    .picture{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid white;
    }

    .artist-name{
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .artist-song{
        width: 50%;
        color: white;
    }

    .music-controls{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        padding:0px 25px ;
        gap: 20px;
    }

    .progress{
        -webkit-appearance: none;
        width: 100%;
        height: 2px;
    }

    .progress::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
    }

    .control-btns{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.3);
        padding:0px 25px ;
        gap: 20px;
    }

    .prev{
        width: 40px;
    }

    .play{
        width: 50px;
    }

    .next{
        width: 40px;
    }

    

    footer{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(206, 32, 32);
    }

    

    footer p{
        color: white;
        font-size: 12px;
    }
}